@font-face {
    font-family: 'Signifier';
    src: url('../fonts/web/Signifier-Black.woff2') format('woff2'),
        url('../fonts/web/Signifier-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signifier';
    src: url('../fonts/web/Signifier-Light.woff2') format('woff2'),
        url('../fonts/web/Signifier-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signifier';
    src: url('../fonts/web/Signifier-Medium.woff2') format('woff2'),
        url('../fonts/web/Signifier-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

